@import "tailwindcss";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 320px;
  margin: 0;
}

#root {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

